.invite-content {
  left: 162px;
  top: 126px;
  width: 594px;
  height: 72px;
  color: #333333;
  font-family: 'Source Sans Pro';
  font-size: 26px;
  text-align: left;
  line-height: 1px;
  padding: 5px;
}
