<div class="container">
<h1 class="title">{{ title }}</h1>

<!-- Company Details -->
<div>
  <img src="../../assets/company-logo" alt="Company Logo" />
  <div class="company-title">{{ companyTitle }}</div>
  <div class="company-info">{{ companyInfo }}</div>
  <!-- Invitation Details -->
  <div class="invite-text">{{ inviteText }}</div>
  <div class="date-container">
    <div class="invite">
      <span class="date">
        {{ day }}
      </span>
      <div class="v-line"></div>
      <div class="month-date">
        <span class="month">{{ month }} </span>
        <span class="date-number">29</span>
      </div>
      <div class="v-line"></div>
      <span class="time">{{ time }} </span>
    </div>
    <!--Submit Button-->
    <button class="btn" (click)="onClick()">ACCEPT / REFUSE</button>
  </div>
</div>
</div>
